ENGINE=django.db.backends.postgresql
POSTGRES_USER=robomech_roboticks_user
POSTGRES_PASSWORD=roboticks1v9%
POSTGRES_DB=robomech_roboticks
DATABASE_HOST=localhost
DATABASE_PORT=5432
DEBUG=False
SECRET_KEY=django-insecure-_hwgst5d(1v-9%^0n!p865%$*m#^%g)ic^1e$5fma&pg^7-4la