/* font */

@font-face {
    font-family: Vazir;
    src: url('/static/font/Vazir-Regular.eot');
    src: url('/static/font/Vazir-Regular.eot?#iefix') format('embedded-opentype'), url('/static/font/Vazir-Regular.woff2') format('woff2'), url('/static/font/Vazir-Regular.woff') format('woff'), url('/static/font/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('/static/font/Vazir-Bold.eot');
    src: url('/static/font/Vazir-Bold.eot?#iefix') format('embedded-opentype'), url('/static/font/Vazir-Bold.woff2') format('woff2'), url('/static/font/Vazir-Bold.woff') format('woff'), url('/static/font/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('/static/font/Vazir-Black.eot');
    src: url('/static/font/Vazir-Black.eot?#iefix') format('embedded-opentype'), url('/static/font/Vazir-Black.woff2') format('woff2'), url('/static/font/Vazir-Black.woff') format('woff'), url('/static/font/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('/static/font/Vazir-Medium.eot');
    src: url('/static/font/Vazir-Medium.eot?#iefix') format('embedded-opentype'), url('/static/font/Vazir-Medium.woff2') format('woff2'), url('/static/font/Vazir-Medium.woff') format('woff'), url('/static/font/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('/static/font/Vazir-Light.eot');
    src: url('/static/font/Vazir-Light.eot?#iefix') format('embedded-opentype'), url('/static/font/Vazir-Light.woff2') format('woff2'), url('/static/font/Vazir-Light.woff') format('woff'), url('/static/font/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('/static/font/Vazir-Thin.eot');
    src: url('/static/font/Vazir-Thin.eot?#iefix') format('embedded-opentype'), url('/static/font/Vazir-Thin.woff2') format('woff2'), url('/static/font/Vazir-Thin.woff') format('woff'), url('/static/font/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


/*  */

body {
    font-family: Vazir !important;
}

.cke_1 {
    width: auto !important;
}

.selection>span>ul>li>* {
    color: rgb(71, 71, 71) !important;
}

.select2-selection__choice__remove {
    margin-left: 0 !important;
}

.select2-container-default {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.django-quill-widget-container .select2 {
    display: none !important;
}

#quill-id_text, #quill-id_info {
    min-height: 200px;
    font-family: Vazir !important;
}

.vLargeTextField.django-quill-widget-container {
    padding: 0 !important;
    border: 0 !important;
}

.field-title {
    direction: rtl;
}

#result_list {
    text-align: center;
}

#quill-id_text {
    direction: rtl;
}

/* 
.content-wrapper,
#jazzy-navbar,
.main-footer {
    margin-left: 0 !important;
    margin-right: 250px;
}

.form-group label {
    margin-top: auto;
    margin-bottom: auto;
}

.d-sm-inline {
    display: hidden !important;
}


/* 
.card-body.table-responsive.p-0 tbody tr {
    direction: ltr !important;
} */


/* .navbar-nav.ml-auto {
    margin-left: 0 !important;
    margin-right: auto;
}

.btn.btn-outline-success.float-right,
.nav.nav-pills.nav-sidebar.flex-column {
    float: left !important;
}

.nav-sidebar>.nav-item .nav-icon,
.card-title,
.field-__str__ a,
div.text span,
#content-main .actions,
.col-sm-10 * {
    float: right;
}

.nav.nav-pills.nav-sidebar.flex-column,
.nav-sidebar .nav-item>.nav-link,
.nav.nav-pills.nav-sidebar.flex-column li,
.main-footer {
    direction: rtl;
}

.main-footer,
.form-group label {
    font-size: 14px;
}

.cke_contents,
.cke_bottom {
    width: 100% !important;
}

.dataTables_info {
    float: right;
} */
/* /api/admin/blog/aboutus/2/delete/ */
/* /api/admin/blog/aboutus/2/history/ */

/* .btn.btn-outline-success.float-right,
.btn.btn-outline-danger.form-control,
.btn.btn-block.btn-outline-secondary.btn-sm
{
    display: none;
}

div:has(.btn.btn-outline-success.float-right) {
    background-color: red;
} */